{% extends 'base.html' %}

{% block title %}My Service Requests{% endblock %}

{% block content %}
<h1 class="mb-4">My Service Requests</h1>
<div class="table-responsive">
    <table class="table">
        <thead style="background-color: #123458; color: #fff;">
            <tr>
                <th>Service</th>
                <th>Reason</th>
                <th>Status</th>
                <th>Date Requested</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
            <tr>
                <td>{{ request.service.name }}</td>
                <td>{{ request.reason }}</td>
                <td>
                    {% if request.status == 'approved' or request.status == 'completed' %}
                        <span class="badge status-good">{{ request.status }}</span>
                    {% elif request.status == 'pending' %}
                        <span class="badge status-neutral">{{ request.status }}</span>
                    {% elif request.status == 'rejected' %}
                        <span class="badge status-bad">{{ request.status }}</span>
                    {% else %}
                        <span class="badge badge-secondary">{{ request.status }}</span>
                    {% endif %}
                </td>
                <td>{{ request.timestamp|date:"M d, Y" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %} 